<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>№ {{ mark.id }}</p>
    <p>Ученик: {{ person.name }}</p>
    <p>Упражнение: {{ exercise.exercise_name }}</p>
    <p>Результат: {{ mark.score }}</p>
    <a href="/marks/{{mark.id}}/delete_mark" class="btn btn-danger">Удалить</a>
    <a href="/marks/{{mark.id}}/update_mark" class="btn btn-success">Редактировать</a>
</body>
</html>