<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Записи</title>
    <a href="/marks">Все нормативы</a>
    <a href="/create_mark">Зафиксировать норматив</a>
</head>

<body>
    {% for m in marks %}
        <p>
            Ученик: {{ m[1].name }} | Упражнение: {{ m[2].exercise_name }} | Количество повторений: {{ m[0].score }} | Дата: {{ m[0].date.date() }} |
            <a href="/marks/{{m[0].id}}/delete_mark">Удалить</a>
            <a href="/marks/{{m[0].id}}/update_mark">Редактировать</a>
        </p>
    {% endfor %}
</body>
</html>


